h1 {
    text-align: center;
}

#error {
    text-align: center;
    color: red;
    height: 30px;
    width: 100px;
    margin:auto;
}

.calc {
    height: 310px;
    width: 250px;
    margin:auto;
    background-color:silver;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;

    &__result {
        width: 249px;
        height: 50px;
        margin-bottom: 5px;
        border: 1px solid gray;
        background-color: black;
        color: white;
        font-size: 34px;
        text-align: right;
        font-weight: bold;
        vertical-align: middle;
    }

    &__equalto {
        width: 240px;
        height: 30px;
        background-color: rgb(88, 88, 224);
        color: white;
        margin-top: 5px;
    }

    &__keys {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 5px;
        
        button {
            height: 50px;
            width: 50px;
            font-size: 18px;
        }

        &--oper {
            color: blue;
        }

        &--ac {
            background-color: indianred;
            color: white;
        }
    }
}

